
.about-container{
    display: flex;
    align-items: center;
    width: 50vw;
}
.about-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 9vh;
}
.about-text{
    margin-right: 1rem;
}
.tech-stack{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    padding-top: 3rem;
}
.icons{
    height: 3rem;
    width: 3rem;
}
.stack-txt{
    font-weight: bold;
}
.about-heading{
   font-weight: bolder;
   font-size: 2.5rem;
   color: cyan;
}
.about-line{
    width: 10vw;
}
